<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
  </head>
  <body>











    <script language="javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
